language: python
python:
- '2.6'
- '2.7'
- '3.2'
- '3.3'
- '3.4'
- '3.5'
- '3.6'

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq libplot-dev plotutils
install: python setup.py install

script: cd .. && python -c "import biggles.tests; biggles.tests.test()"

notifications:
  email: false

deploy:
  provider: pypi
  user: beckermr
  password:
    secure: Aiyd+uJeXc2oyuVwSu+J8oO49rkNL52lwiFlQT33omwPYl81E+7oB/ZvamjMOuibHIVSfzNTR99hOVK9aqHu33bytlyxGW9wv/xtKsDFDiRoemKR5byJ7R1vNEHjebygEKDVb4fOCleKRZuCqLkGt91THdBa7QJnG4aZ4PYoHZo=
  on:
    tags: true
    repo: biggles-plot/biggles
