
body {
	background-color: #fff;
        color: #000;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 11px;
	margin: auto;
	width: 960px;
}
a {
        color: #900;
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
}
a img {
        border: 0;
        margin: 0;
}
h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        margin: 0;
}

#header,
#content,
#buttons,
#latest {
	clear: both;
	margin-top: 2em;
	overflow: hidden;
	width: 100%;
}

#content, #buttons {
	border: 1px dotted black;
	padding-top: 1em;
	padding-bottom: 1em;
}

#header h1 {
	float: left;
	font-size: x-large;
	font-weight: bold;
}
#header h2 {
	color: #ccc;
	float: left;
	font-size: x-large;
	font-weight: bold;
	padding-left: 1em;
}
#header #download {
	float: right;
	font-size: x-large;
	font-weight: bold;
}

table#promo {
	margin: auto;
}

#buttons .column {
	float: left;
	width: 240px;
	font-size: large;
	font-weight normal; 
	text-align: center;
}

.biggles {
	background-color: #ffd;
}

